.color {
    
    background: rgb(252, 236, 252); /* Old browsers */
    background: -moz-linear-gradient(
        45deg,
        rgba(252, 236, 252, 1) 0%,
        rgba(251, 166, 225, 1) 50%,
        rgba(253, 137, 215, 1) 51%,
        rgba(255, 124, 216, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        45deg,
        rgba(252, 236, 252, 1) 0%,
        rgba(251, 166, 225, 1) 50%,
        rgba(253, 137, 215, 1) 51%,
        rgba(255, 124, 216, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        45deg,
        rgba(252, 236, 252, 1) 0%,
        rgba(251, 166, 225, 1) 50%,
        rgba(253, 137, 215, 1) 51%,
        rgba(255, 124, 216, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
